= raw javascript_include_tag "wysiwyg"
= raw javascript_include_tag "posts"
= raw stylesheet_link_tag "wysiwyg"
= simple_form_for @post do |f|
  .field
    = f.input :title
  .field
    = f.input :body
  .actions
    = f.button :submit
