- @posts.each do |post|
  .datebox
    .month= post.created_at.strftime "%b"
    .day= post.created_at.day 
  .title
    = link_to post.title, post
    .date
      on
      = post.created_at.strftime "%B %d, %Y"
  .body= raw truncate_html(post.body, :length => 700)
  .user
    By 
    = post.admin.username
    \|
    = link_to "Comments", post_path(post, :anchor => "disqus_thread")
    = raw disqus_comment_counts
    \|
    = link_to "Read more", post
  
  - if admin_signed_in?
    .manage
      = link_to "Edit", edit_post_path(post)
      \|
      = link_to "Destroy", post, :confirm => "Are you sure?", :method => :delete

  %br
  %hr

.pagination
  = will_paginate @posts
