%h2.title= link_to @post.title, @post
.user
  By 
  = @post.admin.username
  \| on
  = @post.created_at.strftime "%B %d, %Y"
.body= raw @post.body

- if admin_signed_in?
  .manage
    = link_to "Edit", edit_post_path(@post)
    \|
    = link_to "Destroy", @post, :confirm => "Are you sure?", :method => :delete

= raw disqus_thread
