.datebox
  .month= @post.created_at.strftime "%b"
  .day= @post.created_at.day 
.title
  = link_to @post.title, @post
  .date
    on
    = @post.created_at.strftime "%B %d, %Y"
.body= raw @post.body
.user
  By 
  = @post.admin.username

- if admin_signed_in?
  .manage
    = link_to "Edit", edit_post_path(@post)
    \|
    = link_to "Destroy", @post, :confirm => "Are you sure?", :method => :delete

= raw disqus_thread
